ul{
	list-style: none;
}
.wrapper{
	width: 70%;
	margin: auto;
}
a{
	text-decoration: none;
	color:#fff;
}
body{
	background:#000;
	color: #fff; 
}
h2{
	font-size: 2em;
	text-transform: capitalize;
	padding-bottom: 20px;
	border-bottom: 1px solid #f1f1f1;
	width:200px;
	margin-bottom: 20px;
	padding-top: 20px;
}




header p{
	font-size: 1em;
   text-transform: uppercase;
   padding-top: 20px;
}
header .nav-bar i{
	padding-top: 20px;
	font-size: 40px;	
	
}
.nav-bar{
	width:100px;
	position: fixed;
	left:0px;
	top:0px;
}

.nav-bar li{
	text-align: center;
}
header li{
	padding: 10px;	
}
header ul li:first-child{
	padding:0px;
}

header .nav-bar li{
	opacity: 0.5;
}
header li:hover{
	opacity: 1;
	background: #000;
}
header .nav-bar {
	background:	 #737373; 
	height:100%;
}








.john-doe{
text-align: center;
text-transform: capitalize;
}
.face-photo{
	background: url("https://picsum.photos/800/800/?random");
	background-size: cover;
	background-repeat: none;
	width:100%;
	height:100vh; 
}

.john-doe h1{
	font-size: 5.2em;
	padding: 50px 0px 30px 0px;
}
.john-doe p{
	font-size: 1.2em;
}




.my-name{
	padding-top: 100px;
}
.my-name p{
 color: #a6a6a6;
 text-align: justify;
 margin-bottom: 30px;
}


.my-skill h3{
    font-size: 2em;
	text-transform: capitalize;
	padding-bottom: 20px;
}

.my-skill h4{
   font-size: 1.2em;
	text-transform: capitalize;
	padding-bottom: 20px;	
	padding-top: 20px;
	color: #a6a6a6;
}

.progress
{
	width: 100%;
	height: 30px;
	background:#fff;
	margin-bottom: 20px;	
	
}

.p1{
 background: #595959;
 width:90%; 
 height: 30px;
}
.p2{
 background: #595959;
 width:80%; 
 height: 30px;
}
.p3{
 background: #595959;
 width:75%; 
 height: 30px;
}





.list li{
display: inline-block;
padding: 30px 80px 20px 80px;
}
.list{
	margin-top: 50px;
	color:#000;
	background: #fff;
    text-align: center;
    margin-bottom: 40px;
}
.list h5{
	font-size: 1.8em;
}
.list p{
	color: #000;
	font-size: 1.2em;
	text-transform: capitalize;
}
.list li:hover{
opacity: 0.5;
}

.my-skill a{
	padding: 20px;
	background: #fff;
	color: #000;
	font-size: 1.2em;
	text-transform: capitalize;
	width:180px;
	display: inline-block;
}

.my-skill a:hover{
	opacity: 0.5;
}


.my-price h3{
	font-size: 2em;
	text-transform: capitalize;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: 80px;
}
.block{
	float: left;
	width: 49%;
	text-align: center;
	margin-right: 10px;
	opacity: 0.7;
}

.block ul li{
	background: #e6e6e6;
	font-size: 1.2em;
	color: #000;
	border-bottom: 1px solid  #a6a6a6;
	padding:20px;
	
}

.block ul li:first-child{
	background: #4d4d4d;
	font-size: 2em;
	padding: 30px;
	color: #fff;
}

.block:hover{
opacity: 1;
}

.block h4{
		font-size:2em; 
}
.block span{
	color:#b3b3b3;
}
.block ul li:last-child{
	background: #cccccc;
}
.block button{
	padding:15px 20px 15px 20px;
	border:0px;
}
.block button:hover{
	background: #000;
	color: #fff;
}





.my-rep h3{
	font-size: 2em;
	text-transform: capitalize;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: 80px;
}

.my-rep img{
border-radius: 50%;
float: left;
}
.rep-com p{
 text-align: left;
 color: #a6a6a6;
display: inline-block;
padding-left: 50px;
padding-top: 20px;
width: 250px;
}
.rep-com p:after{
	clear: left;

}

.rep-com{
	padding:20px;
}
.rep-com span{
	font-size: 1.3em;
}





.my-photos{
	margin-top: 30px;
}
.leftimg img,.rightimg img{
	display: block;
	padding: 5px;

}
.leftimg {
	float: left;
}



.contact-me{
	margin-top: 120px;
	margin-bottom: 120px;
}

.contact-me h2{
	margin-bottom: 40px;
}
.contact-me i{
	font-size: 2em;
}
.contact-me p{
	padding: 20px;
	text-transform: capitalize;
	font-size: 1.2em;
}
.contact-me a,.para{
	color: #a6a6a6;
}
.contact-me input{
display: block;
margin-bottom: 20px;
width: 100%;
border:0px;
padding: 15px;
}
 .contact-me button{
 	padding: 15px 20px 15px 20px;
 	border:0px;
 }
 .contact-me button:hover{
	color:#fff;
	background: #000;
 }